2to3
aiohttp
aiosignal
alabaster
anyio
argcomplete
astor
async-timeout
attrs
autopep8
Babel
backoff
beautifulsoup4
black
cachetools
certifi
cffi
chardet
charset-normalizer
chromadb
click
clickhouse-connect
colorama
coverage
craftr-dsl
cryptography
cssselect
cx-Freeze
cx-Logging
databind
databind.core
databind.json
Deprecated
dnspython
docker
docopt
docspec
docspec-python
docstring-parser
docutils
duckdb
duckduckgo-search
et-xmlfile
fastapi
filelock
flake8
Flask
frozenlist
fsspec
ghp-import
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gTTS
h11
hnswlib
html2text
httplib2
httptools
huggingface-hub
idna
imagesize
itsdangerous
Jinja2
joblib
lief
loguru
lxml
lz4
Mako
Markdown
MarkupSafe
mccabe
mergedeep
mkdocs
monotonic
mpmath
multidict
mypy-extensions
networkx
nltk
novella
nr.util
number-parser
numpy
openai
openpyxl
orjson
packaging
pandas
pandas-stubs
pathspec
pdoc
pdoc3
Pillow
pinecone-client
pipreqs
pipx
platformdirs
playsound
posthog
proto-plus
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pydash
pydoc-markdown
pyflakes
pygame
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt6
pyqt6-plugins
PyQt6-Qt6
PyQt6-sip
pyqt6-tools
PySide6
PySide6-Addons
PySide6-Essentials
python-config
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyyaml_env_tag
qt6-applications
qt6-tools
readability-lxml
redis
regex
requests
rsa
scikit-learn
scipy
sentence-transformers
sentencepiece
shiboken6
six
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-markdown-builder
sphinx_autodoc_typehints
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
starlette
sympy
termcolor
threadpoolctl
tiktoken
tokenizers
toml
tomli
tomli_w
torch
torchvision
tqdm
transformers
typing_extensions
unify
untokenize
uritemplate
urllib3
userpath
uvicorn
watchdog
watchfiles
websocket-client
websockets
Werkzeug
win32-setctime
wrapt
xlrd
yapf
yarg
yarl
zstandard

